/****** Script for SelectTopNRows command from SSMS  ******/
--A
SELECT TOP 3 *
FROM tienda.dbo.Fact_DetalleTransacciones
ORDER BY Fecha DESC;

--B

SELECT Descripcion, max(Cantidad) MayorExincia FROM Fact_Productos
GROUP BY Descripcion

--C  Generar un script de los productos que no han tenido transacciones de entrada/salida.
SELECT Id, codigo, descripcion FROM Fact_Productos as a left join Fact_DetalleTransacciones as b on a.Id = b.IdProducto
where b.IdProducto is null


--D Generar un script que permita conocer el/los productos con menor cantidad de existencia disponible.
SELECT Descripcion, MIN(Cantidad) MayorExincia FROM Fact_Productos
GROUP BY Descripcion

-- e- Generar script que permita conocer la transacción de entrada o salida con mayor cantidad por producto.

SELECT  Num, IdProducto, Fecha, TipoTransaccion, Cantidad, Observacion FROM  Fact_DetalleTransacciones


SELECT Id, Fecha,  codigo, descripcion,  CASE WHEN TipoTransaccion = 'E' THEN 'ENTRADA' ELSE 'SALIDA' END AS Tupo, b.Cantidad, Observacion FROM Fact_Productos as a inner join Fact_DetalleTransacciones as b on a.Id = b.IdProducto
where a.Codigo= ''
